@media screen and (max-width: 600px) {

    .hidden-mobile {
        display: none !important;
    }

    .contact>td,
    .hello>td,
    .footer>td {
        padding: 0 20px !important;
    }

    .social-icons td {
        display: inline-block;
        width: 40px;
        height: 40px;

        a {
            text-align: center;
            line-height: 45px;

            img {
                display: inline-block;
                max-width: 22px;
            }
        }
    }

    table {
        width: 100% !important;

        &.hidden-desktop {
            display: table !important;
        }

        &.hidden-mobile {
            display: none;
        }

        tr {
            &.hidden-desktop {
                display: table-row !important;
            }

            &.hidden-mobile {
                display: none;
            }

            td {
                &.hidden-desktop {
                    display: table-cell !important;
                }

                &.hidden-mobile {
                    display: none;
                }
            }
        }
    }

    .header {
        .header-table {
            height: 31px;

            .header-logo-container {
                padding-left: 20px !important;
                vertical-align: top;

                .header-logo {
                    margin-bottom: 37px !important;
                }
            }

            .header-navigation-container {
                padding-right: 0;

                .header-navigation {
                    margin-right: 38px !important;
                }
            }

            .hidden-desktop {
                .products-navigation {
                    margin: 0 !important;
                    margin-bottom: 10px !important;
                    padding: 0 20px !important;

                    td {
                        &:after {
                            display: none;
                        }

                        a {
                            font-size: 14px !important;
                            line-height: 16px !important;
                            color: #fff !important;
                            opacity: 1;
                            white-space: nowrap;
                            display: block;
                            margin-bottom: 10px;
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
    }

    .content {
        h2 {
            margin-top: 0;
        }
    }

    .article {
        &.hidden-desktop {
            span {
                a {
                    position: absolute;
                    bottom: -27px;
                    left: 50%;
                    width: 189px !important;
                    margin-left: -94px;
                }
            }
        }

        >td {
            padding: 20px !important;
        }
    }


    .social {
        .hidden-desktop {
            text-align: center;
        }
    }

    .contact {
        .hidden-desktop {
            .title {
                h2 {
                    margin-top: 30px;
                }
            }

            .avatar {
                display: inline-block;
                width: 100px;

                img {
                    width: 100%;
                    max-width: 100px;
                    margin-top: 9px;
                }

            }

            .contact-info {
                display: inline-block;
                width: calc(100% - 100px);
                box-sizing: border-box;
                padding-left: 30px !important;
                padding-top: 10px !important;

                .name {
                    margin: 0;
                    margin-bottom: 5px !important;
                    font-size: 14px;
                    line-height: 16px;
                    color: #000;
                    font-weight: 700;
                }

                .position {
                    margin: 0 !important;
                    font-size: 12px;
                    line-height: 14px;
                    color: #000;
                }
            }
        }

        .social-icons {
            td {
                margin: 30px 15px 20px 0 !important;
                width: 40px !important;
                height: 40px !important;

                a {
                    line-height: 56px !important;

                    img {
                        max-width: 32px !important;
                        width: 32px !important;
                    }
                }

                .instagram {
                    line-height: 62px !important;
                }

                .facebook {
                    line-height: 62px !important;

                    img {
                        width: 15px !important;
                    }
                }
            }
        }

        .address {
            font-size: 12px;
            line-height: 20px;
            margin-right: 10px;
            color: #9ca4b1;

            &.second {
                font-size: 12px;
                line-height: 20px;
                color: #9ca4b1;
            }
        }
    }

    .content {
        .hidden-desktop {
            &.article {
                table {
                    tr {
                        &:nth-child(2) {
                            td {
                                height: 155px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    table {
        width: 100%;
    }

    .header {
        .header-table {
            .header-logo-container {
                .header-logo {
                    width: 113px !important;
                    height: 16px !important;
                }
            }

            .header-navigation-container {
                top: 2px;

                .header-navigation {
                    margin-top: 6px !important;
                    margin-right: 10px !important;

                    li {
                        margin-top: 4px !important;
                        margin-right: 20px !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .social table {

        h3 {
            margin: 10px 0 10px 20px !important;
        }

        #follow-mobile {
            display: table-cell !important;

            img {
                display: block;
                margin: 0 auto;
            }
        }

        #follow-desktop {
            display: none !important;
        }
    }

    .content {
        .hidden-desktop {
            &.article {
                table {
                    tr {
                        &:nth-child(2) {
                            td {
                                height: 233px !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .problem table {

        #follow-mobile {
            display: table-cell !important;

            img {
                display: block;
                margin: 0 auto;
            }
        }

        #follow-desktop {
            display: none !important;
        }
    }
}

@media screen and (max-width: 341px) {
   .content {
        .hidden-desktop {
            &.article {
                table {
                    tr {
                        &:nth-child(2) {
                            td {
                                height: 255px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 339px) {
   .content {
        .hidden-desktop {
            &.article {
                table {
                    tr {
                        &:nth-child(2) {
                            td {
                                height: 275px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 332px) {
   .content {
        .hidden-desktop {
            &.article {
                table {
                    tr {
                        &:nth-child(2) {
                            td {
                                height: 275px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
